@use '../abstracts/mixins' as mix;

footer .footer-container {
  @include mix.padding;
  background-color: grey;

  footer-app {
    locale-picker select {
      &:hover {
        cursor: pointer;
      }
    }

    .copyright p {
      @include mix.cover-center-text;
      color: white;
    }
  }
}
