<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body>
    <header>
      <nav-app brandName="<%= brandName %>"></nav-app>
    </header>

    <main>
      <loading-spinner></loading-spinner>
      <div class="container py-5">
        <h1 class="mt-5 mb-3">Tambah Cerita</h1>

        <form class="row g-3" id="addRecordForm" novalidate>
          <div class="col-12">
            <label for="validationCustomRecordName" class="form-label">Nama</label>
            <input-with-validation
              type="text"
              inputId="validationCustomRecordName"
              invalidFeedbackMessage="Wajib diisi"
              required
            ></input-with-validation>
          </div>

          <div class="col-12">
            <label for="validationCustomNotes" class="form-label">Deskripsi</label>
            <textarea-with-validation
              inputId="validationCustomNotes"
              invalidFeedbackMessage="Wajib diisi"
              required
            ></textarea-with-validation>
          </div>

          <div class="col-12">
            <label for="validationCustomEvidence" class="form-label">Foto</label>
            <input-image-with-preview
              inputId="validationCustomEvidence"
              invalidFeedbackMessage="Wajib diisi"
              required
            ></input-image-with-preview>
          </div>

          <div class="col-12 text-end">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </main>

    <footer class="footer-container">
      <footer-app></footer-app>
    </footer>
  </body>
</html>
